<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings><add name="Store2DoorEntities" connectionString="metadata=res://*/Store2DoorDataModel.csdl|res://*/Store2DoorDataModel.ssdl|res://*/Store2DoorDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=2bdb3035-248b-4a5a-b728-a8a900c0ea58.sqlserver.sequelizer.com;integrated security=false;user id=uvipbbfjalgezsdk;password=6ff5AqtXycaWAvrPVs3AqG35ohWRr62fxotMbi4FEDmacy4NiHwMZQhxmiQsAKEB;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="db2bdb3035248b4a5ab728a8a900c0ea58Entities" connectionString="metadata=res://*/Category.csdl|res://*/Category.ssdl|res://*/Category.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=2bdb3035-248b-4a5a-b728-a8a900c0ea58.sqlserver.sequelizer.com;integrated security=False;user id=uvipbbfjalgezsdk;password=6ff5AqtXycaWAvrPVs3AqG35ohWRr62fxotMbi4FEDmacy4NiHwMZQhxmiQsAKEB;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CategoryEntity" connectionString="metadata=res://*/Category.csdl|res://*/Category.ssdl|res://*/Category.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=2bdb3035-248b-4a5a-b728-a8a900c0ea58.sqlserver.sequelizer.com;integrated security=False;user id=uvipbbfjalgezsdk;password=6ff5AqtXycaWAvrPVs3AqG35ohWRr62fxotMbi4FEDmacy4NiHwMZQhxmiQsAKEB;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>